@{
	ViewData["Title"] = "Профіль";
	ViewData["Caption"] = "Редагування профілю";
}
@using WebUI
@using WebUI.Areas.Admin.Models

@model UserViewModel

<div class="row d-flex justify-content-center">
	<div class="col-md-11">
		<div class="card">
			<div class="card-body">
				<form id="profile-form" method="post" enctype="multipart/form-data">
					<div class="row d-flex justify-content-center">
						<div class="col-md-3 col-sm-6">
							<div class="position-relative p-4">
								@if (Model.ProfilePicture != null)
								{
									<img id="profilePicture" class="img-circle" style="width: 100%; object-fit: cover; margin-top: 10px;" src="@ENV.ImagePath@Model.ProfilePicture"
										 onerror="this.onerror = null; this.src = '@Url.Content("~/images/users/default-user.png")';">
								}
								else
								{
									<img id="profilePicture" class="rounded-circle" style="width: 100%; object-fit: cover; padding-top: 10px;" src="~/images/users/default-user.png">
								}
								<a class="btn btn-dark position-absolute btn-image" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fas fa-pencil-alt"></i> Змініти
								</a>
								<!-- Dropdown - User Information -->
								<div class="dropdown-menu dropdown-menu-left shadow animated--grow-in" aria-labelledby="userDropdown">
									<div class="dropdown-item p-0">
										<input accept=".png,.jpg,.jpeg,.gif"
											   asp-for="ProfilePicture"
											   type="file" class="custom-file-input"
											   id="customFile">
										<label class="my-file-label" for="customFile"><i class="fas fa-upload"></i> Завантажити</label>
									</div>
									<a class="dropdown-item" asp-area="Admin" asp-controller="Profile" asp-action="DeleteImage" asp-route-id="@Model.Id" id="del-img">
										<i class="fas fa-trash-alt"></i>
										Видалити
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-9 col-sm-6 row">
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="FirstName">Ім'я</label>
									<input asp-for="FirstName" class="form-control" />
									<span asp-validation-for="FirstName" class="text-danger"></span>
								</div>
								<div class="form-group">
									<label asp-for="MiddleName">Прізвище</label>
									<input asp-for="MiddleName" class="form-control" />
									<span asp-validation-for="MiddleName" class="text-danger"></span>
								</div>
								<div class="form-group">
									<label asp-for="LastName">По Батькові</label>
									<input asp-for="LastName" class="form-control" />
									<span asp-validation-for="LastName" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="Email">Пошта</label>
									<div class="input-group">
										<input asp-for="Email" class="form-control" />
										<span asp-validation-for="Email" class="text-danger"></span>
									</div>
								</div>
								<div class="form-group">
									<label asp-for="PhoneNumber">Телефон</label>
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="fas fa-phone"></i></span>
										</div>
										<input type="text" asp-for="PhoneNumber" class="form-control ukrainephone" maxlength="14">
										<span asp-validation-for="PhoneNumber" class="text-danger"></span>
									</div>
								</div>
								<div class="form-group">
									<label asp-for="CommunitiesSelected">Громада</label>
									<select class="select2" multiple="multiple" id="CommunitiesSelected" name="CommunitiesSelected" style="width: 100%"
											asp-for="CommunitiesSelected" asp-items="@Model.CommunitiesList">
									</select>
									<span asp-validation-for="CommunitiesSelected" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label asp-for="Chat">Посилання на чат</label>
									<input type="text" asp-for="Chat" class="form-control" />
								</div>
							</div>
						</div>
					</div>
					<label class="col-form-label text-center d-block">Опис</label>
					<textarea asp-for="Description" class="form-control" rows="3"></textarea>

					<span asp-validation-for="Description" class="text-danger"></span>
					<div class="d-flex justify-content-end pt-2">
						<div class="col-xs-12 text-right p-2 h6 m-0">
							<span id="lenghtContentPost"></span>
							<span id="maxContentPost"></span>
						</div>

						<button type="submit" class="btn btn-default close-button mr-2" asp-area="Admin" asp-controller="Profile" asp-action="Index" asp-route-id="@Model.Id">
							<span class="icon text-dark-50" style="opacity: 50%">
								<i class="fas fa-times"></i>
							</span>
							Відмінити
						</button>

						<button id="update-profile-button ml-auto" type="submit" class="btn btn-success btn-icon-split">
							<span class="icon text-white-50">
								<i class="fas fa-check"></i>
							</span>
							<span class="text">Зберегти</span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/summernote.js"></script>
<script>
	$(document).ready(function () {
		if ("@Model.ProfilePicture" == "") {
			$("#del-img").addClass("disabled")
		}

		$('.select2').select2({
			language: "uk",
			minimumResultsForSearch: 5,
			placeholder: "Виберіть громади"
		});

		$("#customFile").on("change", function (e) {
			var noInvalidFiles = true;
			if (this.files.length == 1) {
				var file = this.files[0];
				var array = this.getAttribute("accept").split(",");
				var extension = file.name.substring(file.name.lastIndexOf('.'));
				noInvalidFiles = array.includes(extension);

				if (!noInvalidFiles)
					alert("Вибрано не підримуваний файл.");
				else
					jQueryModalGet('/admin/profile/ChangeProfileImage?id=@Model.Id', 'Обріжте нове зображення профілю')
			}
		});

		$('.ukrainephone').mask("(999) 999-9999");
	});
</script>
