@{
    ViewData["Title"] = "Профіль";
    ViewData["Caption"] = "Редагування профілю";
}
@using WebUI
@using WebUI.Areas.Admin.Models
@model UserViewModel
@using System.IO
@using WebUI.Services

<div class="row d-flex justify-content-center">
    <div class="col-md-11">
        <div class="card">
            <div class="card-body">
                <form id="profile-form" method="post" enctype="multipart/form-data">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-3">
                            <div class="position-relative p-4">
                                @if (Model.ProfilePicture != null)
                                {
                                    <img id="profilePicture" class="img-circle" style="width: 100%; object-fit: cover; margin-top: 10px;" src="@ENV.ImagePath@Model.ProfilePicture"
                                         onerror="this.onerror = null; this.src = '@Url.Content("~/images/users/default-user.png")';">
                                }
                                else
                                {
                                    <img id="profilePicture" class="rounded-circle" style="width: 100%; object-fit: cover; padding-top: 10px;" src="~/images/users/default-user.png">
                                }
                                <a class="btn btn-dark position-absolute btn-image" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-pencil-alt"></i> Змініти
                                </a>
                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-left shadow animated--grow-in" aria-labelledby="userDropdown">
                                    <div class="dropdown-item p-0">
                                        <input accept=".png,.jpg,.jpeg,.gif,.tif"
                                               asp-for="@Model.ProfilePicture"
                                               type="file" class="custom-file-input"
                                               onchange="jQueryModalGet('/admin/profile/ChangeProfileImage', 'Обріжте нове зображення профілю')"
                                               id="customFile">
                                        <label class="my-file-label" for="customFile"><i class="fas fa-upload"></i> Завантажити</label>
                                    </div>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Profile" asp-action="DeleteImage" asp-route-id="@Model.Id"><i class="fas fa-trash-alt"></i> Видалити</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="@Model.FirstName">Ім'я</label>
                                    <input asp-for="@Model.FirstName" class="form-control" />
                                    <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.MiddleName">Прізвище</label>
                                    <input asp-for="@Model.MiddleName" class="form-control" />
                                    <span asp-validation-for="@Model.MiddleName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.LastName">По Батькові</label>
                                    <input asp-for="@Model.LastName" class="form-control" />
                                    <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="@Model.Email">Пошта</label>
                                    <input asp-for="@Model.Email" class="form-control" />
                                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.PhoneNumber">Телефон</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                        </div>
                                        <input type="text" asp-for="@Model.PhoneNumber" class="form-control ukrainephone" maxlength="14">
                                        <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.CommunityId">Громада</label>
                                    <select name="CommunityId" class="form-control select2bs4" id="CommunityId" asp-for="CommunityId" asp-items="@Model.Communities">
                                    </select>
                                    <span asp-validation-for="CommunityId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <label class="col-form-label text-center d-block">Опис</label>
                    <textarea asp-for="Description" class="form-control note-editor" id="summernote"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                    <div class="d-flex justify-content-end pt-2">
                        <button id="update-profile-button ml-auto" type="submit" class="btn btn-success btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-check"></i>
                            </span>
                            <span class="text">Зберегти</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#summernote').summernote({
            tabsize: 2,
            height: 400,
        });

        document.getElementById("summernote").hidden = true;

        $('.ukrainephone').mask("(999) 999-9999");
    });
</script>
