@using WebUI.Areas.Entities.Models
@using Application.Constants

@model IEnumerable<CommunityViewModel>

@{
    bool delete = AuthorizationService.AuthorizeAsync(User, Permissions.Communities.Delete).Result.Succeeded;
    bool edit = AuthorizationService.AuthorizeAsync(User, Permissions.Communities.Edit).Result.Succeeded;
}

@if (AuthorizationService.AuthorizeAsync(User, Permissions.Communities.View).Result.Succeeded)
{
    <style>
        #brandTable > tr > th {
            border-top-width: 0
        }
    </style>
    <table id="brandTable" class="table table-striped" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>ІД</th>
                <th>Ім'я</th>
                <th>Працівник</th>
                <th>Район</th>
                @if (delete || edit)
                {
                    <th>Дії</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var community in Model)
            {
                <tr>
                    <td>
                        @community.Id
                    </td>
                    <td>
                        @community.Name Територіальна Громада
                    </td>
                    @if (!String.IsNullOrEmpty(community.ApplicationUserId))
                    {
                        <td>
                            <a href="@Url.Action("Index", "Profile", new { Area = "Admin", id = community.ApplicationUserId })">@community.ApplicationUserName</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            @community.ApplicationUserName
                        </td>
                    }
                    @if (!String.IsNullOrEmpty(community.District.ToString()))
                    {
                        <td>
                            @community.District?.Name Район
                        </td>
                    }
                    else
                    {
                        <td>
                            Район не визначено
                        </td>
                    }
                    @if (delete || edit)
                    {
                        <td text-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Дії
                                </button>
                                <div class="dropdown-menu shadow animated--grow-in">
                                    @if (edit)
                                    {
                                        <a onclick="jQueryModalGet('/entities/community/OnGetCreateOrEdit?id=@community.Id','Редагування громади')" class="dropdown-item"><i class="fas fa-pencil-alt"></i>  Редагувати</a>
                                    }
                                    @if (delete)
                                    {
                                        <form id="form_delete_@community.Id" asp-area="Entities" asp-controller="Community" method="post" asp-action="OnPostDelete" asp-route-id="@community.Id" onsubmit="return jQueryModalDelete(this)">
                                            <a href="javascript:$('#form_delete_@community.Id').submit();" class="dropdown-item"><i class="fas fa-trash-alt"></i>  Видалити</a>
                                        </form>
                                    }
                                </div>
                            </div>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
	<script>
        $(document).ready(function () {
            $('#districtFilter')
                .find('option')
                .remove()
                .end()
				.append('<option value=""></option>')
                .val('');

            $("#brandTable").DataTable({
                initComplete: function () {
                    this.api().columns(3).every(function () {
                        var column = this;
                        var select = $('#districtFilter')
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column.search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                },
                language: {
                    url: "//cdn.datatables.net/plug-ins/1.10.18/i18n/Ukrainian.json"
                },
            });;
        });
	</script>
}
else
{
    <h2 class="text-center">Не доступно для вас</h2>
}

