@using WebUI.Areas.Admin.Models
@using Application.Constants
@using AspNetCoreHero.ToastNotification.Abstractions
@using AspNetCoreHero.ToastNotification.Notyf

@model UserViewModel

@if (AuthorizationService.AuthorizeAsync(User, Permissions.Users.Edit).Result.Succeeded || AuthorizationService.AuthorizeAsync(User, Permissions.Users.Create).Result.Succeeded)
{
	<form id="create-form" method="post" asp-area="Admin" asp-controller="User" asp-action="OnPostCreate">
		<div class="row">
			<div class="col" id="mainForm">
				<div class="form-group row">
					<label class="col-md-3 col-form-label" asp-for="@Model.FirstName">Ім'я</label>
					<div class="col-md-9">
						<input asp-for="@Model.FirstName" class="form-control">
						<span asp-validation-for="@Model.FirstName" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-3 col-form-label" asp-for="@Model.MiddleName">Прізвище</label>
					<div class="col-md-9">
						<input asp-for="@Model.MiddleName" class="form-control">
						<span asp-validation-for="@Model.MiddleName" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-3 col-form-label" asp-for="@Model.LastName">По Батькові</label>
					<div class="col-md-9">
						<input asp-for="@Model.LastName" class="form-control">
						<span asp-validation-for="@Model.LastName" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-3 col-form-label" asp-for="@Model.Email">Пошта</label>
					<div class="col-md-9">
						<input asp-for="@Model.Email" class="form-control">
						<span asp-validation-for="@Model.Email" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-3 col-form-label" asp-for="@Model.PhoneNumber">Телефон</label>
					<div class="col-md-9">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-phone"></i></span>
							</div>
							<input asp-for="@Model.PhoneNumber" class="form-control ukrainephone" maxlength="14">
							<span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
						</div>
					</div>
					<!-- /.input group -->
				</div>
				<div class="form-group row">
					<label class="col-md-3 col-form-label" asp-for="@Model.Chat">Посилання на чат</label>
					<div class="col-md-9">
						<input asp-for="@Model.Chat" class="form-control">
						<span asp-validation-for="@Model.Chat" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-3 col-form-label">Фото</label>
					<div class="col-md-9">
						<div class="custom-file form-image">
							<input accept=".png,.jpg,.jpeg,.gif"
								   type="file" class="custom-file-input"
								   id="customFile">

							<label class="custom-file-label" for="customFile">Виберіть картинку</label>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-3 col-form-label">Громада</label>
					<div class="col-md-9">
						<select class="select2" multiple="multiple" style="width: 100%" data-placeholder="Виберіть громади"
								asp-for="@Model.CommunitiesSelected" asp-items="@Model.CommunitiesList">
						</select>
						<span asp-validation-for="CommunitiesSelected" class="text-danger"></span>
					</div>
				</div>
			</div>
			<div class="col-xl-5 col-lg-7 d-none" id="imageBox">
				<div class="d-none" id="cropperBox">
					<label class="col-form-label text-center d-block">Обріжте нове зображення профілю</label>

					<div class="form-group d-flex align-self-center align-items-center">
						<img id="cropper" />
					</div>
					<div class="form-group d-flex justify-content-around">
						<a id="croppImage" class="btn btn-primary text-white">
							<i class="fas fa-cut"></i>
							Обрізати
						</a>
					</div>
				</div>
				<div class="position-relative px-4 pb-4">
					<img id="profilePicture" class="brand-image d-none" style="width: 100%; object-fit: cover;" type="file"
						 onerror="this.onerror = null; this.src = '@Url.Content("~/images/users/default-user.png")';">
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="col-form-label text-center d-block">Опис</label>
			<textarea asp-for="Description" class="form-control" rows="3"></textarea>
			<span asp-validation-for="Description" class="text-danger"></span>
			<div class="col-xs-12 text-right p-2 h6 m-0">
				<span id="lenghtContentPost"></span>
				<span id="maxContentPost"></span>
			</div>
		</div>
		<div class="form-group justify-content-between" style="margin-bottom: 0px !important">
			<button class="btn btn-success" id="save-btn">Зберегти</button>
			<button type="submit" class="btn btn-default close-button" data-dismiss="modal">Відміна</button>
		</div>
	</form>

	<script src="~/js/summernote.js"></script>
	<script>
		$(document).ready(function () {
			$('.select2').select2({
				language: "uk",
				minimumResultsForSearch: 6,
				placeholder: "Виберіть громади"
			});
			bsCustomFileInput.init();

			//registerSummernote('#summernote', 5000, function (max) {
			//	$('#lenghtContentPost').text(max)
			//}, 200, 400);

			//document.getElementById("summernote").hidden = true;

			$('.ukrainephone').mask("(999) 999-9999");

			var $uploadCrop;
			var $blob;
			var fileName = null;

			function InitCropper() {
				$uploadCrop = $('#cropper').croppie({
					viewport: {
						width: 300,
						height: 300,
						type: 'square'
					},
					boundary: {
						width: 400,
						height: 400
					},
					showZoomer: false,
					enforceBoundary: true,
					enableExif: true
				});
			}
			InitCropper();

			function readFile(e) {
				var reader = new FileReader();

				reader.onload = function (e) {
					$('#cropper').croppie('bind', {
						url: e.target.result
					})
				}
				reader.readAsDataURL(e.target.files[0]);

				$("#mainForm").toggleClass("col-xl-7 col-lg-5");
				$("#imageBox").removeClass("d-none");
				$("#cropperBox").removeClass("d-none");
				$(".cr-slider-wrap").addClass("d-none");
				$("#profilePicture").addClass("d-none");
			}

			$("#customFile").on("change", function (e) {
				var noInvalidFiles = true;
				if (this.files.length == 1) {

					var file = this.files[0];
					var array = this.getAttribute("accept").split(",");
					var extension = file.name.substring(file.name.lastIndexOf('.'));
					noInvalidFiles = array.includes(extension);

					if (!noInvalidFiles) {
						fileName = null;
						$blob = null;
						$('#cropper').croppie('destroy');
						$("#imageBox").addClass("d-none");
						InitCropper();
						$("#mainForm").toggleClass("col-xl-7 col-lg-5");
						alert("Вибрано не підримуваний файл.");
					}
					else
						readFile(e);
				}
			});

			$("#croppImage").on('click', function () {
				$uploadCrop.croppie('result', {
					type: 'blob',
					size: {
						width: 640,
						height: 640
					}
				}).then(function (blob) {
					$blob = blob;
					var urlCreator = window.URL || window.webkitURL;
					var imageUrl = urlCreator.createObjectURL(blob);
					fileName = $('#customFile').val();
					$("#profilePicture").attr('src', imageUrl);
					$("#cropperBox").addClass("d-none");
					$("#profilePicture").removeClass("d-none");
				});
			});

			$("#create-form").submit(function (f) {

				var formData = new FormData(this);
				formData.append('fileName', fileName);
				formData.append('blob', $blob);

				try {
					$.ajax({
						type: 'POST',
						url: '/Admin/User/OnPostCreate',
						data: formData,
						contentType: false,
						processData: false,
						success: function (res) {
							if (res.isValid) {
								$('#viewAll').html(res.html)
								$('#form-modal').modal('hide');
							}
						},
						error: function (err) {
							console.log(err)
						}
					})
					return false;
				} catch (ex) {
					console.log(ex)
				}
			});
		});
	</script>
}
else
{
	<h2 class="text-center">Не доступно для вас</h2>
}
