@{
    ViewData["Title"] = "Профіль";
    ViewData["Caption"] = "Редагування профілю";
}


@using WebUI
@using WebUI.Areas.Admin.Models
@model UserViewModel

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <form id="profile-form" method="post" enctype="multipart/form-data">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="@Model.FirstName">Ім'я</label>
                                <input asp-for="@Model.FirstName" class="form-control" />
                                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.MiddleName">Прізвище</label>
                                <input asp-for="@Model.MiddleName" class="form-control" />
                                <span asp-validation-for="@Model.MiddleName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.LastName">По Батькові</label>
                                <input asp-for="@Model.LastName" class="form-control" />
                                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.PhoneNumber">Номер телефону</label>
                                <input asp-for="@Model.PhoneNumber" class="form-control" />
                                <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.CommunityId">Громада</label>
                                <select name="CommunityId" class="form-control select2bs4" id="CommunityId" asp-for="CommunityId" asp-items="@Model.Communities">
                                </select>
                                <span asp-validation-for="CommunityId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="@Model.UserName">Ім'я користувача</label>
                                <input asp-for="@Model.UserName" class="form-control" />
                                <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Email">Пошта</label>
                                <input asp-for="@Model.Email" class="form-control" />
                                <span asp-validation-for="@Model.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Password">Новий пароль</label>
                                <input asp-for="@Model.Password" class="form-control" />
                                <span asp-validation-for="@Model.Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="@Model.ProfilePicture" style="width: 100%;">Фото профілю</label>
                                <div class="custom-file">
                                    <input accept=".png,.jpg,.jpeg,.gif,.tif"
                                           asp-for="@Model.ProfilePicture"
                                           type="file" class="custom-file-input"
                                           onchange="document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0])"
                                           id="customFile">
                                    <label class="custom-file-label" for="customFile">Виберіть файл</label>
                                </div>
                                <span asp-validation-for="@Model.ProfilePicture" class="text-danger"></span>
                                @if (Model.ProfilePicture != null)
                                {
                                    <img id="profilePicture" style="width: 100%;object-fit: cover; padding-top: 10px;" src="@ENV.ImagePath@Model.ProfilePicture">
                                }
                                else
                                {
                                    <img id="profilePicture" style="width: 100%; object-fit: cover; padding-top: 10px;" src="">
                                }
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button id="update-profile-button ml-auto" type="submit" class="btn btn-success btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-check"></i>
                            </span>
                            <span class="text">Зберегти</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>